iotFlow/iotFlow.json
[{"id":"51272d7b.aed8d4","type":"twilio-api","z":"ae0213bf.51fdf","sid":"AC028c78bf4b60c8d1d591d678678d139d","from":"+46769447933","name":"PHone stuff"},{"id":"8f621726.709de8","type":"ibmiot in","z":"ae0213bf.51fdf","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"MedOne","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":60,"y":49,"wires":[["1189fba2.ee7604"]]},{"id":"1189fba2.ee7604","type":"change","z":"ae0213bf.51fdf","name":"keep temp","rules":[{"t":"set","p":"temp","to":"msg.payload.d.value_avg"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":119,"wires":[["d4fbb6ac.2b0448","518defb7.ae721"]]},{"id":"d4fbb6ac.2b0448","type":"debug","z":"ae0213bf.51fdf","name":"","active":false,"console":"false","complete":"false","x":502,"y":45,"wires":[]},{"id":"5ae4e3b8.a51b1c","type":"twitter out","z":"ae0213bf.51fdf","twitter":"","name":"OpenHackData","x":1218,"y":42,"wires":[]},{"id":"518defb7.ae721","type":"switch","z":"ae0213bf.51fdf","name":"Avg Temp","property":"temp","rules":[{"t":"gt","v":"25"}],"checkall":"true","outputs":1,"x":447,"y":214,"wires":[["b8c0495c.473fb8"]]},{"id":"b8c0495c.473fb8","type":"delay","z":"ae0213bf.51fdf","name":"Message per minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":674,"y":214,"wires":[["a2397c08.5dc68"]]},{"id":"c9250360.36db","type":"twilio out","z":"ae0213bf.51fdf","service":"_ext_","twilio":"51272d7b.aed8d4","from":"","number":"+46768395207","name":"PHone","x":1143,"y":241,"wires":[]},{"id":"a2397c08.5dc68","type":"template","z":"ae0213bf.51fdf","name":"temperature message","field":"payload","format":"handlebars","template":"The temperature is: {{temp}}! That's not good!","x":915,"y":135,"wires":[["5ae4e3b8.a51b1c","c9250360.36db"]]}]